# MLflow
MLFLOW_TRACKING_URI=mlruns/
MLFLOW_EXPERIMENT_NAME=churn-prediction
MLFLOW_MODEL_NAME=churn-xgboost

# Data paths
RAW_DATA_PATH=data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv
PROCESSED_DATA_PATH=data/processed/

# Model
ARTIFACTS_PATH=artifacts/
RANDOM_STATE=42
TEST_SIZE=0.2

# App
APP_ENV=production
LOG_LEVEL=INFO